name: Simple CI

on: [push]

 jobs:
   build:
    runs-on: ubuntu-latest
    steps:
     - name: Get Code
       uses: actions/checkoutv3

     - name: Run Test
       run: echo "Code checked successfully"
    
